.Game {
  text-align: center;
  border: solid;
  display: flex;
}

.Game .action {
  background-color: darkseagreen;
  width: 70%;
}

.Game > .gui {
  background-color: dimgray;
  width: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
